html
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 300;
  h1
    font-family: "Open Sans Condensed", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
  a
    text-decoration: none;
    color: #333333;
  a:hover
    color: #d48532;

header
  width: 22%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  border-left: 1px solid #eeeeee;
  #header-wrapper
    top: 33%;
    position: relative;
    #header-avatar
      text-align: center;
    #header-name
      text-align: center;
      font-size: 16px;
      font-weight: 600
    #header-nav
      text-align: center;
    #header-description
      text-align: center;
      font-size: 13px;
      color: #777777;
      margin-top: -10px;
      a, a:active
        color: #d48532;
      a:hover
        color: #dc9c3a;

#blog
  width: 58%;
  position: relative;
  left: 15%
  margin-top: 70px;

#blog-post
  width: 78%;
  position: relative;
  left: 15%
  margin-top: 70px;

#admin
  margin-top: 20px;
  position: relative;
  width: 50%;
  left: 25%;
  input#post-title:focus
    outline: none;
  input#post-title
    font-family: "Open Sans Condensed", "helvetica neue", helvetica, arial, sans-serif;
    position: relative;
    left: 20%;
    width: 50%;
    font-size: 24px;
    border: none;
    text-align: left;
    resize: none;
  #admin-container
    left: 20%
    position: relative;
    ul li
      list-style: none;
      margin-top: 15px;
      font-weight: 300;
      margin-left: -40px;
      a
        color: #555555;
      a:hover
        color: #d48532;
    #drafts
      margin-top: 10px;
      width: 250px;
      line-height: 1.5em;
      float: left;
      text-align: left;
      h1
        font-size: 16px;
        font-weight: 600;
    #published
      margin-top: 10px;
      width: 250px;
      line-height: 1.5em;
      float: left;
      text-align: left;
      h1
        font-size: 16px;
        font-weight: 600;

#edit-post
  margin-top: 20px;
  position: relative;
  width: 50%;
  left: 31%;
  input:focus
    outline: none;
  textarea:focus
    outline: none;
  textarea#post-title
    font-family: "Open Sans Condensed", "helvetica neue", helvetica, arial, sans-serif;
    position: relative;
    width: 540px;
    font-size: 28px;
    border: none;
    text-align: left;
    resize: none;
  textarea#post-body
    font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
    position: relative;
    width: 540px;
    min-height: 450px;
    border: none;
    font-size: 18px;
    resize: none;
    font-weight: 300;
  #menu
    display: none;
    position: fixed;
    top: 70px;
    left: 235px;
    height: 250px;
    width: 165px;
    background-color: #efefef;
    padding: 13px;
    font-size: 14px;
    border-bottom: 2px solid #dddddd;
    input#post-date, input#post-slug
      padding: 5px;
      margin-top: 5px;
      clear: both;
      width: 150px;
      border: none;
      font-size: 13px;
    button
      margin-top: 5px;
      padding: 4px;
      width: 160px;
      font-size: 12px;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-weight: 300;
    button.submit
      background-color: #009B2D;
      box-shadow: 0 3px 0 #005919;
    button.submit:active
      background-color: #00681e;
    button.cancel
      background-color: #CC0000;
      box-shadow: 0 3px 0 #770000;
    button.cancel:active
      background-color: #990000;
  #menu-button
    cursor: pointer;
    opacity: 0.5;
    .circle
      border-radius: 50%;
      width: 29px;
      height: 29px;
      background-color: #ececec;
      position: fixed;
      top: 27px;
      left: 400px;
    .triangle
      width:0px; 
      height:0px; 
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      border-top:6px solid #999999;
      font-size:0px;
      line-height:0px;
      position: fixed;
      top: 40px;
      left: 408px;

#login
  position: relative;
  left: 43%;
  top: 250px;
  label
    font-size: 20px;
    margin-left: 2px;
    padding-bottom: 5px;
  input
    font-size: 20px;
    border: 1px solid #cccccc;
    padding: 5px;
  input:focus
    outline: none;
  button
    margin-top: 5px;
    padding: 9px;
    width: 224px;
    font-size: 14px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 300;
  button.submit
    background-color: #009B2D;
    box-shadow: 0 3px 0 #005919;
  button.submit:active
    background-color: #00681e;
  p.flash
    border: 1px solid #FF6666 ;
    background-color: #FFCCCC;
    padding: 15px;
    width: 192px;
    font-size: 15px;
    color: #333;