#admin
  margin-top: 20px
  position: relative
  width: 50%
  left: 25%
  input#post-title:focus
    outline: none
  input#post-title
    font-family: "Open Sans Condensed", "helvetica neue", helvetica, arial, sans-serif
    position: relative
    left: 20%
    width: 50%
    font-size: 24px
    border: none
    text-align: left
    resize: none
  #admin-container
    left: 20%
    position: relative
    ul li
      list-style: none
      margin-top: 15px
      font-weight: 300
      margin-left: -40px
      a
        color: #555555
      a:hover
        color: #d48532
    #drafts
      margin-top: 10px
      width: 250px
      line-height: 1.5em
      float: left
      text-align: left
      h1
        font-size: 16px
        font-weight: 600
    #published
      margin-top: 10px
      width: 250px
      line-height: 1.5em
      float: left
      text-align: left
      h1
        font-size: 16px
        font-weight: 600