header.desktop
  display: block
  border-left: 1px solid #eeeeee
  position: fixed
  height: 100%
  top: 0
  right: 0
header.mobile
  background-color: #ffffff
  display: none
  border-top: 1px solid #eeeeee
  position: fixed
  width: 100%
  bottom: -10px
  #header-wrapper
    top: 20px
header    
  #header-wrapper
    top: 33%
    position: relative
    #header-avatar
      text-align: center
    #header-name
      text-align: center
      font-size: 16px
      font-weight: 600
    #header-nav
      text-align: center
    #header-description
      text-align: center
      font-size: 13px
      color: #777777
      margin-top: -10px
      a, a:active
        color: #d48532
      a:hover
        color: #dc9c3a

#blog
  margin-top: 5%
  margin-left: 5%