html
  font-family: "helvetica neue", helvetica, arial, sans-serif
  font-weight: 300
  h1
    font-family: "Open Sans Condensed", "helvetica neue", helvetica, arial, sans-serif
    font-size: 28px
    font-weight: 400
  a
    text-decoration: none
    color: #333333
  a:hover
    color: #d48532
  time
    font-size: 14px
    color: #777
    top: -15px
    position: relative