#login
  position: relative
  left: 43%
  top: 250px
  label
    font-size: 20px
    margin-left: 2px
    padding-bottom: 5px
  input
    font-size: 20px
    border: 1px solid #cccccc
    padding: 5px
  input:focus
    outline: none
  button
    margin-top: 5px
    padding: 9px
    width: 224px
    font-size: 14px
    border: none
    color: #ffffff
    cursor: pointer
    font-weight: 300
  button.submit
    background-color: #009B2D
    box-shadow: 0 3px 0 #005919
  button.submit:active
    background-color: #00681e
  p.flash
    border: 1px solid #FF6666 
    background-color: #FFCCCC
    padding: 15px
    width: 192px
    font-size: 15px
    color: #333