<template name="blog">
  <div id="blog" class="col-10-12">
    {{#each posts}}
      <h1><a href="/{{slug}}" class="blog-post">{{title}}</a></h1>
      <time>{{date}}</time>
      <p>{{#markdown}}{{body}}{{/markdown}}</p>
    {{/each}}
  </div>  
  <header class="col-2-12 desktop">
    <div id="header-wrapper">
      <div id="header-avatar">
        <a href="/"><img src="/img/avatar.png"/></a>
      </div>
      <h2 id="header-name">Jeff Lam Tian Hung</h2>
      <div id="header-description">
        <p>Designer & Marketer at <a href="#">Tiny Post</a>.</p>
      </div>
      <div id="header-nav">
        <a href="/" class="main">Home</a>
        <a href="/admin" class="admin">Admin</a>
      </div>
    </div>
  </header>
  <header class="col-2-12 mobile">
    <div id="header-wrapper">
      <div id="header-avatar">
        <a href="/"><img src="/img/avatar.png"/></a>
      </div>
      <h2 id="header-name">Jeff Lam Tian Hung</h2>
      <div id="header-description">
        <p>Designer & Marketer at <a href="#">Tiny Post</a>.</p>
      </div>
      <div id="header-nav">
        <a href="/" class="main">Home</a>
        <a href="/admin" class="admin">Admin</a>
      </div>
    </div>
  </header>  
</template>