<template name="editPost">
  <div id="edit-post">
    {{#each post}}
      <textarea id="post-title" placeholder="Enter glorious post title..." >{{title}}</textarea>
      <textarea id="post-body" placeholder="Enter glorious thoughts and opinions...">{{body}}</textarea>
      <input type="text" id="post-draft" value="{{draft}}"/>
      <input type="text" id="post-date" value="{{date}}"/>
      <input type="text" id="post-slug" value="{{slug}}"/>
      <button class="submit">Save</button>
    {{/each}}
  </div>
</template>